section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    object-fit: contain;
    margin: 15px 0;
}

p {
    text-align: justify;
}