/* #aboutme {
    text-align: center;
    padding: 30px 20px;
}

#karinaImg {
    border-radius: 50%;
    object-fit: cover;
    margin: 15px 0;
    width: 180px;
    height: 180px;
    border: 5px solid var(--primary-color);
    border-radius: 50%;
    transition: transform 0.3s;
    justify-content: center;
}

#karinaImg:hover {
    transform: scale(1.1);
}

p {
    text-align: justify;
    color: black;
} */

#aboutme {
    text-align: center;
}

#karinaImg {
    border-radius: 50%;
    object-fit: cover;
    margin: 15px 0;
    width: 180px;
    height: 180px;
    border: 5px solid var(--primary-color);
    border-radius: 50%;
    transition: transform 0.3s;
    justify-content: center;
}

#karinaImg:hover {
    transform: scale(1.1);
}

p {
    font-size: 1.1rem;
    max-width: 600px;
    margin: auto;
}