#contactSection {
    text-align: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    margin: 0 20vh;
}

.formField {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    max-width: 640px;
    padding: 10px;
    min-height: 80px;
    border-radius: 4px;
    border: none;
}

.formError {
    color: red;
    font-size: 12px;
    font-weight: normal;
}

button {
    /* padding: 10px 50px;
    /* border-radius: 4px; */
    /* border: 1px solid black;
    background: white;
    color: black;
    transition: background 0.3s; */
    background: var(--secondary-color);
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    transition: all 0.3s;
}

button:hover {
    background: var(--primary-color);
    transform: scale(1.05);
}