@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');


/* :root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color-scheme: light dark;
  background-color: #f9f9f9;
  --primary-color: hsl(125, 93%, 11%);
  --secondary-color: #eaf8ee;
  --background-glass: rgba(255, 255, 255, 0.15);
  --shadow-soft: rgba (0, 0, 0, 0.08);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;

}